@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #ece7e4 !important;
}